Repository saadayomide/DevOps-Group-Project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: api, azure-pipelines-backend.yml, but not: README.md, docs, *.md
  azure-pipelines-frontend.yml: any of: frontend, azure-pipelines-frontend.yml, but not: README.md, docs, *.md

feat: add shopping list models, schemas, and Alembic migration; stabilize test DB and health endpoint
  api/.coverage
  api/alembic/versions/b1a9d3f4c8e1_add_shopping_lists.py
  api/app/models.py
  api/app/routes/health.py
  api/app/schemas.py
  api/app/services/compare_service.py
  api/tests/conftest.py
  api/tests/integration/test_api.py
  api/tests/integration/test_api_integration.py
Due: azure-pipelines-backend.yml

Documentation and api routes
  api/.coverage
  api/README.md
  api/app/main.py
  api/app/routes/catalog.py
  api/app/schemas.py
  api/app/services/catalog_service.py
  api/tests/integration/test_catalog_routes.py
Due: azure-pipelines-backend.yml

deploment setup
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
  docs/DEVOPS_GUIDE.md
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

sprint 3 part of changes
  api/.coverage
  api/app/main.py
  api/app/routes/shopping_lists.py
  api/app/services/scrapers/__init__.py
  api/app/services/scrapers/alcampo.py
  api/app/services/scrapers/carrefour.py
  api/app/services/scrapers/mercadona.py
  api/tests/integration/test_shopping_lists.py
Due: azure-pipelines-backend.yml

staging deployment
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

mercadona scraper added
  api/app/services/scrapers/mercadona.py
Due: azure-pipelines-backend.yml

Fix pytest installation and ACR authentication
  .github/workflows/backend.yml
  api/Dockerfile
Due: azure-pipelines-backend.yml

switch to github secrets
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update package-lock.json to sync with package.json (add eslint)
  frontend/package-lock.json
Due: azure-pipelines-frontend.yml

Fix all test failures: SQLite threading, health check assertion, exception handlers, use GitHub secrets
  api/tests/conftest.py
  api/tests/integration/test_api.py
  api/tests/integration/test_api_integration.py
Due: azure-pipelines-backend.yml

Fix frontend Dockerfile: install devDependencies for vite build, add .dockerignore files
  api/.dockerignore
  frontend/.dockerignore
  frontend/Dockerfile
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

alcampo y dia scrapers should be working
  api/app/services/scrapers/__init__.py
  api/app/services/scrapers/carrefour.py
  api/app/services/scrapers/dia.py
Due: azure-pipelines-backend.yml

Fix backend deployment: use single-line appsettings format to avoid Bad Request
  .github/workflows/backend.yml
Due: none

working checkpoint mercadona
  api/.coverage
  api/app/main.py
  api/app/routes/scraper_debug.py
  api/app/services/scrapers/base.py
  api/app/services/scrapers/mercadona.py
Due: azure-pipelines-backend.yml

Simplify backend deployment: use azure/webapps-deploy action, skip problematic CLI commands
  .github/workflows/backend.yml
Due: none

Fix both workflows: use azure/webapps-deploy action instead of azure/cli
  .github/workflows/frontend.yml
Due: none

filtering and curation applyeid logic
  api/.coverage
  api/app/routes/shopping_lists.py
  api/app/services/matching/filters.py
  api/app/services/matching/matcher_service.py
  api/app/services/matching/normalize.py
  api/app/services/matching/scorer.py
  api/app/services/matching/spec.py
  api/app/services/shopping_list_service.py
  api/tests/unit/test_matching_scoring.py
Due: azure-pipelines-backend.yml

Fix CORS_ORIGINS parsing: avoid JSON decode error by using property instead of List[str] field
  api/app/config.py
  api/tests/conftest.py
Due: azure-pipelines-backend.yml

mercadona.oy
  api/app/services/scrapers/mercadona.py
Due: azure-pipelines-backend.yml

Fix: Frontend-backend integration and SPA routing
  api/.coverage
  frontend/Dockerfile
  frontend/dist/assets/index-COJvfXjr.css
  frontend/dist/assets/index-WzajXIct.js
  frontend/dist/index.html
  frontend/nginx.conf
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Fix: Add seed data and improve error handling
  api/alembic/versions/b2c3d4e5f6g7_seed_initial_data.py
  frontend/dist/index.html
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Fix backend startup: separate migrations from app init, fix CORS parsing, add startup script
  api/Dockerfile
  api/app/config.py
  api/app/main.py
  api/start.sh
Due: azure-pipelines-backend.yml

Add live scraping: restore Mercadona scraper, add scraper service and API endpoints
  api/Dockerfile
  api/app/main.py
  api/app/routes/scraper.py
  api/app/services/scraper_service.py
  api/app/services/scrapers/__init__.py
  api/app/services/scrapers/alcampo.py
  api/app/services/scrapers/base.py
  api/app/services/scrapers/carrefour.py
  api/app/services/scrapers/mercadona.py
  api/requirements.txt
Due: azure-pipelines-backend.yml

Add frontend features: refresh prices button, autocomplete, loading states
  api/app/routes/scraper.py
  frontend/src/api.js
  frontend/src/index.css
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Fix backend startup: add timeouts, better logging, health check path
  api/app/db.py
  api/start.sh
Due: azure-pipelines-backend.yml

Fix API endpoints: add trailing slashes to prevent 307 redirects
  frontend/src/api.js
Due: azure-pipelines-frontend.yml

Add price comparison table showing all prices across stores
  api/app/schemas.py
  api/app/services/compare_service.py
  frontend/src/index.css
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Fix: Add live/static store indicators and handle missing priceComparison
  frontend/src/index.css
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-frontend.yml

Remove separate price comparison table, show all prices in single view
  frontend/src/index.css
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-frontend.yml

Remove Refresh Prices button - scraper too slow for production
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-frontend.yml

Clean up and improve frontend
  README.md
  azure_pipelines.yml
  frontend/README.md
  frontend/src/api.js
  frontend/src/context/ShoppingContext.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/ProfilePage.jsx
  frontend/src/pages/ShoppingPage.jsx
Due: azure-pipelines-frontend.yml

Add Application Insights monitoring integration
  .github/workflows/backend.yml
  api/app/main.py
  api/requirements.txt
Due: azure-pipelines-backend.yml

Fix Application Insights config - handle missing secrets gracefully
  .github/workflows/backend.yml
Due: none

Remove Application Insights config from workflow - set manually in Azure Portal if needed
  .github/workflows/backend.yml
Due: none

Created scrapers for 6 supermarkets (Mercadona, Carrefour, Lidl, Alcampo, Dia, and Gadis) for data retrieval. Also created debugging for them
  api/app/main.py
  api/app/routes/debug.py
  api/app/routes/health.py
  api/scrapers/__init__.py
  api/scrapers/alcampo_scraper.py
  api/scrapers/base.py
  api/scrapers/carrefour_scraper.py
  api/scrapers/dia_scraper.py
  api/scrapers/gadis_scraper.py
  api/scrapers/lidl_scraper.py
  api/scrapers/manager.py
  api/scrapers/mercadona_scraper.py
Due: azure-pipelines-backend.yml

feat(scrapers): Team A complete scraper implementation
  api/.coverage
  api/app/routes/debug.py
  api/app/routes/health.py
  api/app/routes/scraper.py
  api/app/services/scraper_service.py
  api/app/services/scrapers/__init__.py
  api/app/services/scrapers/alcampo.py
  api/app/services/scrapers/base.py
  api/app/services/scrapers/carrefour.py
  api/app/services/scrapers/manager.py
  api/app/services/scrapers/mercadona.py
  api/tests/unit/test_scrapers.py
  tests/conftest.py
  tests/test_integration.py
  tests/test_prices.py
  tests/test_products.py
  tests/test_query_helpers.py
  tests/test_service_compare.py
  tests/test_supermarkets.py
  tests/test_teamc.py
  tests/test_teamc_endpoints.py
Due: azure-pipelines-backend.yml
