Repository saadayomide/DevOps-Group-Project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: api, azure-pipelines-backend.yml, but not: README.md, docs, *.md
  azure-pipelines-frontend.yml: any of: frontend, azure-pipelines-frontend.yml, but not: README.md, docs, *.md

had wrong branch now branched out from team2a
  api/app/services/category_rules.yml
  api/app/services/normalization.py
  api/app/services/scorer.py
  api/tests/unit/test_category_rules.py
  api/tests/unit/test_scorer.py
Due: azure-pipelines-backend.yml

filter adn pick best pipeline
  api/alembic/versions/c3d4e5f6g7_add_shopping_lists.py
  api/app/models.py
  api/app/services/refresh_service.py
  api/tests/integration/test_refresh_flow.py
Due: azure-pipelines-backend.yml

teamB sprint4 tasks implemented and tested
  .coverage
  api/app/main.py
  api/app/middleware.py
  api/app/routes/metrics.py
  api/app/routes/refresh.py
  api/app/services/metrics.py
  api/app/services/refresh_service.py
  api/app/services/scheduler.py
  api/app/services/scorer.py
  api/tests/conftest.py
  api/tests/integration/test_refresh_endpoint.py
  api/tests/integration/test_refresh_flow.py
  requirements.txt
Due: azure-pipelines-backend.yml

cleanup
  api/app/routes/health.py
  tests/test_integration.py
  tests/test_products.py
  tests/test_service_compare.py
Due: azure-pipelines-backend.yml

feat: Add price comparison page UI
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/index.css
  frontend/src/layouts/PageLayout.jsx
  frontend/src/pages/ComparisonPage.jsx
Due: azure-pipelines-frontend.yml

backend pipeline updates
  .github/workflows/backend.yml
Due: none

app changes, telemtry added for the monitoring
  api/app/main.py
  api/app/middleware.py
  api/app/routes/scraper.py
  api/app/telemetry.py
Due: azure-pipelines-backend.yml

tests and infra updated
  api/tests/conftest.py
  infra/azure/webapp.bicep
  infra/scripts/deploy.sh
Due: azure-pipelines-backend.yml

feat: Shopping List Input UI Improvements (C2)
  frontend/src/index.css
  frontend/src/pages/ComparisonPage.jsx
Due: azure-pipelines-frontend.yml

feat: add Playwright to all scrapers for live data extraction
  .github/workflows/backend.yml
  api/.coverage
  api/app/services/scrapers/__init__.py
  api/app/services/scrapers/carrefour.py
  api/app/services/scrapers/dia.py
  api/app/services/scrapers/lidl.py
  api/app/services/scrapers/manager.py
  api/requirements.txt
  api/tests/unit/test_scrapers.py
Due: azure-pipelines-backend.yml

ci: add finalsprint branch to workflow triggers
  .github/workflows/backend.yml
Due: none

fix: add prometheus-client to requirements.txt
  api/requirements.txt
Due: azure-pipelines-backend.yml

fix: improve error handling in Application Insights configuration step
  .github/workflows/backend.yml
Due: none

ci: add finalsprint branch to frontend workflow triggers
  .github/workflows/frontend.yml
Due: none

chore: pre-merge cleanup - fix unused globals, update README
  README.md
  api/.coverage
  api/app/routes/scraper.py
  api/app/services/scheduler.py
Due: azure-pipelines-backend.yml

chore: remove .coverage files from tracking
  .coverage
  api/.coverage
Due: azure-pipelines-backend.yml

feat: add Gadis scraper and Product Name field to comparison form
  api/app/services/scrapers/__init__.py
  api/app/services/scrapers/gadis.py
  api/app/services/scrapers/manager.py
  api/tests/unit/test_scrapers.py
  frontend/src/index.css
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/ComparisonPage.test.jsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: align frontend compare request with backend schema
  api/app/services/scrapers/__init__.py
  api/app/services/scrapers/gadis.py
  api/app/services/scrapers/manager.py
  api/tests/unit/test_scrapers.py
  frontend/src/index.css
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/ComparisonPage.test.jsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: add product name field and fix compare functionality
  api/app/models.py
  api/app/services/metrics.py
  api/app/services/normalization.py
  api/app/services/refresh_service.py
  api/app/services/scorer.py
  api/app/telemetry.py
  api/tests/integration/test_refresh_endpoint.py
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/context/AuthContext.jsx
  frontend/src/context/ShoppingContext.jsx
  frontend/src/layouts/PageLayout.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/ComparisonPage.test.jsx
  frontend/src/pages/LoginPage.jsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml
